 <%= form_tag send_transfer_money_path do %>

  <legend class="text-bold">Transfer Money</legend>
	<div class="row">
    <div class="col-lg-4">
      <label>Transfer To </label>
      <select name="transfer_to">
        <option>Select user</option>
        <% @users.each do |user|%>
          <option value="<%= user.id %>"> <%= user.accounts.first.try(:account_number)%> - <%= user.try(:first_name) %></option>
        <% end %>
      </select>    
    </div>
    <div class="col-lg-4">
    	<label>Enter Amount </label>
			<%= number_field_tag :amount, nil, min: "0" %>
    </div>
    <div class="col-lg-4">
      <label>Comments </label>
      <%= text_field_tag :comment %>
    </div>
  </div>  
  <div class="row">  
    <div class="col-lg-12">
    	<%= submit_tag "Transfer", :class =>'button' %>
    </div> 
  </div>  
        
<% end %>
