 <%= form_tag send_transfer_money_path do %>

  <legend class="text-bold">Transfer Money</legend>
	<div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label>Transfer To </label>
        <select name="transfer_to" required="true" class="form-control">
          <option value="">Select user</option>
          <% @users.each do |user|%>
            <option value="<%= user.id %>"> <%= user.account.try(:account_number)%> - <%= user.try(:first_name) %> <%= user.try(:last_name) %></option>
          <% end %>
        </select>    
      </div>
    </div>  
    <div class="col-lg-6">
    	<div class="form-group">
        <label>Enter Amount </label>
  			<%= number_field_tag :amount, nil, min: "0", required: true, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">    
    <div class="col-lg-6">
      <div class="form-group">
        <label>Comments </label>
        <%= text_field_tag :comment, nil, class: "form-control" %>
      </div>
    </div>  
  </div>  
  <div class="row">  
    <div class="col-lg-12">
    	<%= submit_tag "Transfer", :class =>'button', class: "btn btn-primary" %>
    </div> 
  </div>  
        
<% end %>
